body{
   background-color:white;
  height:20%;
background-size: cover;
background-origin: inherit;

  }
.container {
    height: 600px;
    width: 450px;
    border-radius: 30px;
    box-shadow: 10px 10px 17px -1px white;
    margin: 100px auto;
    padding: 55px 40px;
    position: relative;
    background-color:black;
    background-position-x: 50px;

}
#game {
   
   color:white;
}
#time {
    color:pink;
}
h1 {color:lightcoral;
letter-spacing: 2px;
font-size: 28px;}
.btn-primary {
    background-color:white;
    color:pink;
    border-color: #D93F9B;
    
}

.btn-primary:hover{
    background-color:orange;
    color:pink;
    border-color: #D93F9B;
}
.jumbotron {background-color: white;
background-position: center;




}